<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logPath" value="D:\Sanjay\log.txt"/>
		<add key="errorLogPath" value="D:\Sanjay\Errorlog.txt"/>
		<add key="mySourceLocation" value="D:\Sanjay\Demo\Newfolder"/>
		<add key="Server" value="10.4.30.66"/>
		<add key="User" value="sanjaytest"/>
		<add key="Password" value="S@njay#12"/>
		<add key="SFTP_path" value="/"/>
	</appSettings>

	<appSettings>

		<add key="ClientList" value="ContractPodAI"/>

		
		<add key="logPath" value="D:\SFTPLogs"/>
		
		<add key="LastRunEntry" value="D:\SFTPLogs"/>

		<add key="mySourceLocation" value="D:\Demo\New folder"/>
		
		<add key="ContractPodAIServer" value="10.33.30.666"/>
		<add key="ContractPodAIUser" value="youraccount"/>
		<add key="ContractPodAIPassword" value="S@n$#12"/>
		<add key="ContractPodAISFTP_path" value="/"/>
		<add key="ContractPodAIToEmail" value=""/>
		<add key="ContractPodAIFromEmail" value=""/>
		<add key="ContractPodAIBccEmail" value=""/>
		<add key="ContractPodAISMTP" value=""/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	
	
</configuration>